.node * {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node.ghost * {
  stroke: #aaa;
}

.node text {
  font-size: 11px;
}

.snapLine text {
  display: block;
  text-anchor: end;
  padding-right: 10;
}

path.link {
  fill: none;
  stroke-width: 1.5px;
}

